<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/master.xhtml">
	<ui:define name="content">
		<h1>Usuarios</h1>
		<h:form id="frm">
			<p:growl autoUpdate="true" showDetail="true" showSummary="true" />

			<p:inputText id="txtBuscar" value="#{usuarioBean.busqueda}" />
			<p:watermark for="txtBuscar" value="Buscar Usuarios" />
			<p:commandButton value="Buscar"
				action="#{usuarioBean.buscarUsuario()}" update="frm:dt" />

			<p:dataTable id="dt" var="u" value="#{usuarioBean.lista}"
				paginator="true" rows="5"
				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				rowsPerPageTemplate="5,10,15">

				<p:column headerText="Nombre Usuario">
					<p:outputLabel value="#{u.usuario}" />
				</p:column>

				<p:column headerText="Estado">
					<p:outputLabel value="#{u.estado}" />
				</p:column>

				<p:column headerText="Acciones" exportable="false">
					<p:commandLink oncomplete="PF('wdlg').show()"
						actionListener="#{usuarioBean.mostrarUsuario(u)}" update="frm:dlg">
						<p:graphicImage library="images" name="editpencil.png" />
					</p:commandLink>
				</p:column>

			</p:dataTable>

			<p:dialog id="dlg" widgetVar="wdlg"
				header="#{usuarioBean.headerModal}" modal="true"
				closeOnEscape="true" resizable="false" draggable="true">


				<h:panelGrid id="pg" columns="4">
					<p:outputLabel for="txtUsuario" value="Usuario" />
					<p:inputText id="txtUsuario" value="#{usuarioBean.usuario.usuario}"
						disabled="true" />
					<p:message for="txtUsuario" display="icon" />
					<h:column />

					<p:outputLabel for="txtclave" value="Contraseña actual" />
					<h:inputSecret id="txtclave" value="#{usuarioBean.txtclave}" />
					<p:message for="txtclave" display="icon" />
					<p:commandButton value="Verificar"
						actionListener="#{usuarioBean.verificarClave()}"
						update="btnAceptar" />

					<p:outputLabel for="txtnuevaClave" value="Nueva Contraseña" />
					<p:password id="txtnuevaClave" value="#{usuarioBean.txtnuevaClave}" />
					<p:message for="txtnuevaClave" display="icon" />
					<h:column />

					<p:outputLabel for="txtnuevaClave2" value="Repetir Contraseña" />
					<p:password id="txtnuevaClave2"
						value="#{usuarioBean.txtnuevaClave2}" />
					<p:message for="txtnuevaClave2" display="icon" />
					<h:column />

				</h:panelGrid>
				<p:commandButton value="Aceptar" id="btnAceptar"
					actionListener="#{usuarioBean.modificarClave()}"
					disabled="#{usuarioBean.statusbtnAceptar}" />
				<p:commandButton value="Cancelar" oncomplete="PF('wdlg').hide()" />
			</p:dialog>



		</h:form>
	</ui:define>
</ui:composition>
</html>
